@import url(https://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,700,500italic,300italic,400);

body {
  margin: 0;
  padding: 0;
  grid-template-rows: auto 1fr auto;
}

header {
  display: grid;
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 0.5rem 2rem;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/landing_header.webp");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

header .logo {
  width: 100px;
  object-fit: contain;
}

.itensnav {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  color: black;
}

.maps__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.find__location {
  font-size: 2rem;
  color: black;
  font-weight: bolder;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
}

section .location__image {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 65%;
  opacity: 0.5;
}

.main__maps__iframe {
  margin: 30px;
  border: 4px burlywood solid;
}

.content {
  display: grid;
}

li a:visited {
  color: whitesmoke;
}

li a:hover {
  color: brown;
}

li a:active {
  color: rgb(70, 66, 58);
}

#contact-item {
  margin-right: 0px;
}

li .current {
  color: aqua;
}

.main__booking {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__booking__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 0;
  max-width: 100vw;
}

.main__booking__reset--button {
  background: none;
  border: 0;
}

.main__booking__left {
  float: left;
}

.main__booking__right {
  float: right;
}

.main__booking__calendar {
  border-collapse: collapse;
  font-family: "Roboto";
  table-layout: fixed;
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main__booking__calendar__caption,
.main__booking__calendar__day {
  padding: 0.875em;
}

.main__booking__calendar__days {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main__booking__calendar__day {
  color: #363636;
  font-weight: 300;
  width: 14.2857142857%;
}

.main__booking__calendar__date-link {
  border: 1px solid transparent;
  color: #222;
  display: block;
  font-weight: 400;
  padding: 1em 0.875em;
  text-decoration: none;
  transition: all 0.3s ease;
}

.main__booking__calendar__date-link:hover,
.main__booking__calendar__date-link:focus {
  border-color: rgba(0, 0, 0, 0.2);
}

.main__booking__calendar__date-link.main__booking__calendar__date-link-disabled {
  border-color: transparent;
  color: #aaa;
  cursor: default;
  font-weight: 300;
}

.main__booking__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #363636;
}

.main__booking__form__input {
  height: fit-content;
  padding: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
}
